
/* .fotop{
    overflow: hidden;
    padding-bottom: 40px;
    padding-top: 0px;
    max-width: 100%;
    width: 100%;
}
.fotosperiodisimocat{
    display: flex;
    flex-wrap: nowrap;
}
/*  */ 
.fotosp{
 display: grid;
 grid-template-columns:  1fr  1fr;
 grid-template-areas: "foto1  foto3"
 "  foto4 foto2";
/*  flex-wrap: wrap;
 margin-left: 50px; */
}
.img-per{
    height: 650px;
    width:auto;
    padding: 5px;
}
.fotosp .foto1{
    grid-area: foto1;
}
.fotosp .foto2{
    grid-area: foto2;
}
.fotosp .foto3{
    grid-area: foto3;
}
.fotosp .foto4{
    grid-area: foto4;
}