.footer{
    display: flex;
    background-color: black;
    height: 70px;
    justify-content: space-evenly;
}
.icon{
margin: 15px;

    color:white;
}
.logos-footer{
  color: white;
  margin: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}